 <div id="new-entry">
  <div id="login-form">
    <button id="login-button" class="btn btn-sm btn-primary">Login to Spotify</button>
  </div>
  <div class="row">
    <form id="create-entry-form" class="col-sm-6 col-sm-offset-3" style="display:none;">
      <div class="form-group">
        <input type="text" class="form-control" id="song-input" placeholder="Type in a track name...">
      </div>
      <textarea class="form-control" rows="3"></textarea>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>