{% extends '/layouts/application.html' %}

{% block content %}
<div class="homepage">
  <div class="jumbotron bg-primary">
    <h2>Song Story</h2>
    <div class="heart"></div>
    <p>Share an anonymous story about a song<p>
    <!--
    <p>The idea is this: songs can are part of important points in our lives.
    Does a song remind you of when you met your significant other?
    The song you listened to during a big move?
    A track that one of your parents played when you were growing up?
    Create an entry. Eventually you might be able to map out your life's soundtrack.</p>-->
  </div>
  <div id="create-entry-container" class="jumbotron">
    {% include "templates/new-entry.html" %}
  </div>
  <div id="entries-container" class="jumbotron bg-secondary">
    {% include "templates/entries-list.html" %}
  </div>

</div>
{% endblock %}

{% block javascript %}
<script src="assets/javascripts/app.js"></script>
{% endblock %}
